# **[초보자를 위한 파이썬 300제]**

## * 001-010. Print - 기초

In [21]:
# 001. 화면에 Hello World 문자열을 출력하세요.
print("Hello World")

Hello World

In [37]:
# 002. 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)
print("Mary's cosmetics")

Mary's cosmetics

In [39]:
# 003. 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [47]:
# 004. 화면에 C:\Windows를 출력하세요.
print("C:\\Windows")

C:\Windows

In [49]:
# 005. print 탭과 줄바꿈 : 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

*[Answer]*
- \n : Enter 줄바꿈
- \t : Tab

In [2]:
# 006. print 여러 데이터 출력 : print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
print ("오늘은", "일요일")

오늘은 일요일

In [109]:
# 007. print() 함수를 사용하여 다음과 같이 출력하세요.
    # print(naver;kakao;sk;samsung)

print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung

In [113]:
# 008. print() 함수를 사용하여 다음과 같이 출력하세요. : naver/kakao/sk/samsung
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [133]:
# 009. print 줄바꿈
    # 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
    # print("first");print("second")

print("first", end="");print("second")

firstsecond

In [11]:
# 010. 연산 결과 출력
    # 5/3의 결과를 화면에 출력하세요.
print(5/3)

1.6666666666666667

## * 011-020. 변수

In [21]:
# 011.변수 사용하기
    # 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요
삼성전자 = 50000
총평가금액 = 10 * 삼성전자
print(총평가금액)

500000

In [27]:
# 012. 변수 사용하기
    # 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

시가총액 = 2980000000000
현재가 = 50000
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

2980000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [31]:
# 013. 문자열 출력
    # 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
    # 두 변수를 이용하여 아래와 같이 출력해보세요.
    # 실행 예: hello! python

s = "hello"
t = "python"

print(s+"!", t)

hello! python

In [33]:
# 014. 파이썬을 이용한 값 계산
    # 아래 코드의 실행 결과를 예상해보세요.
        # 2 + 2 * 3 

2 + 2 * 3

8

In [41]:
# 015. type 함수
    # type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.
        # a = 128
        # print (type(a))
        # <class 'int'>

    # 아래 변수에 바인딩된 값의 타입을 판별해보세요.
        # a = "132"

a = "132"
print (type(a))

<class 'str'>

In [43]:
# 016. 문자열을 정수로 변환
    # 문자열 '720'를 정수형으로 변환해보세요.
        #num_str = "720"

num_str = "720"  #형변환
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [45]:
# 017. 정수를 문자열 100으로 변환
    # 정수 100을 문자열 '100'으로 변환해보세요.

num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [49]:
# 018. 문자열을 실수로 변환
    # 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [53]:
# 019. 문자열을 정수로 변환
    # year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [57]:
# 020. 파이썬 계산
    # 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

금액 = 48584
총금액 = 금액 * 36
print(총금액)

1749024

## * 021-030. 문자열 : 인덱싱, 슬라이싱. replace, split

In [64]:
# 021. 문자열 인덱싱
    # letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

letters = 'python'
print(letters[0], letters[2])

p t

In [68]:
# 022. 문자열 슬라이싱
    # 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

license_plate = "24가 2210"
print(license_plate[-4:])

2210

> 023. 다시 풀기

In [278]:
# 023. 문자열 인덱싱
    # 아래의 문자열에서 '홀' 만 출력하세요.
    # 슬라이싱할 때 `시작인덱스:끝인덱스:오프셋`을 지정할 수 있습니다.

string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

> 024. 다시 풀기

In [86]:
# 024. 문자열 슬라이싱
    # 문자열을 거꾸로 뒤집어 출력하세요.

string = "PYTHON"
print(string[::-1])

NOHTYP

In [90]:
# 025. 문자열 치환
    # 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
    # 실행 예 : 010 1111 2222


phone_number = "010-1111-2222"
print(phone_number.replace("-" , " "))

010 1111 2222

In [93]:
# 026. 문자열 다루기
    # 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
    # 실행 예 : 01011112222

print(phone_number.replace("-" , ""))

01011112222

In [117]:
# 027. 문자열 다루기
    # url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
    # 실행 예: kr

url = "http://sharebook.kr"

print(url[-2:])

url_split = (url.split('.'))
print(url_split[-1])
print(url_split[1])

kr
kr
kr

In [141]:
# 028. 문자열은 immutable
    # 아래 코드의 실행 결과를 예상해보세요.

lang = 'python'
lang[0] = 'P'
print(lang)

    # 문자열은 수정할 수 없습니다. 실행 결과를 확인해보면 문자열이 할당(assignment) 메서드를 지원하지 않음을 알 수 있습니다.

TypeError: 'str' object does not support item assignment

In [143]:
# 029. replace 메서드
    # 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
    # 실행 예: Abcdfe2A354A32A

string = 'abcdfe2a354a32a'
print(string.replace('a','A'))

Abcdfe2A354A32A

In [149]:
# 030. replace 메서드
    # 아래 코드의 실행 결과를 예상해보세요.

string = 'abcd'
string.replace('b', 'B')
print(string)

    # `abcd`가 그대로 출력됩니다. 왜냐하면 문자열은 변경할 수 없는 자료형이기 때문입니다. replace 메서드를 사용하면 원본은 그대로 둔채로 변경된 새로운 문자열 객체를 리턴해줍니다.

abcd

## * 031-040. 문자열 : 합치기, 곱하기, 공백제거(strip)

In [161]:
# 031. 문자열 합치기
    # 아래 코드의 실행 결과를 예상해보세요.

a = "3"
b = "4"
print(a + b)

    # 두 문자열에 대해 덧셈 기호는 문자열의 연결을 의미

34

In [167]:
# 032. 문자열 곱하기
    # 아래 코드의 실행 결과를 예상해보세요.

print("Hi" * 3)

    # 문자열에 대한 곱셈은 문자열의 반복을 의미

HiHiHi

In [169]:
# 033. 문자열 곱하기
    # 화면에 '-'를 80개 출력하세요.
    # 실행 예: --------------------------------------------------------------------------------

print('-' * 80)

--------------------------------------------------------------------------------

In [181]:
# 034. 문자열 곱하기
    # 변수에 다음과 같은 문자열이 바인딩되어 있습니다.
    # 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
    # 실행 예: python java python java python java python java

t1 = 'python'
t2 = 'java'

t3 = t1 + " " + t2 + " "
print(t3 * 4)

python java python java python java python java

In [189]:
# 035. 문자열 출력
    # 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
    # print 포맷팅에서 `%s`는 문자열 데이터 타입의 값을 `%d`는 정수형 데이터 타입 값의 출력을 의미
        # 이름: 김민수 나이: 10
        # 이름: 이철희 나이: 13

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [195]:
# 036. 문자열 출력
    # 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

    # 문자열의 포맷 메서드는 타입과 상관없이 값이 출력될 위치에 `{ }`를 적어주면 됩니다.

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [201]:
# 037. 문자열 출력
    # 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

    # f-string은 문자열 앞에 f가 붙은 형태입니다. f-string을 사용하면 `{변수}`와 같은 형태로 문자열 사이에 타입과 상관없이 값을 출력할 수 있습니다.

이름: 김민수 나이: 10
이름: 이철희 나이: 13

> 038. 다시 풀기

In [286]:
# 038. 컴마 제거하기
    # 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"
상장주식수2 = 상장주식수.replace("," , "")
상장주식수3 = int(상장주식수2)
print(상장주식수3, type(상장주식수3))

5969782550 <class 'int'>

In [220]:
# 039. 문자열 슬라이싱
    # 다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [222]:
# 040. strip 메서드
    # 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "
print(data.strip())

삼성전자

## * 041-050. 문자열 : upper(대문자로 변경), lower(소문자로 변경), capitalize(앞 대문자 변경), endswith, startswith

In [227]:
# 041. upper 메서드
    # 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [229]:
# 042. lower 메서드
    # 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

In [231]:
# 043. capitalize 메서드
    # 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

a = "hello"
print(a.capitalize())

Hello

In [239]:
# 044. endswith 메서드
    # 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

> 045. 다시 풀기

In [255]:
# 045. endswith 메서드
    # 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [258]:
# 046. startswith 메서드
    # 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [268]:
# 047. split 메서드
    # 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"
a.split()

['hello', 'world']

In [270]:
# 048. split 메서드
    # 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [272]:
# 049. split 메서드
    # 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [274]:
# 050. rstrip 메서드
    # 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "039490     "
data.rstrip()

'039490'

## * 051-060. 리스트 : append, insert, del, max/min, len, sum

In [9]:
# 051 리스트 생성
    # 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)
        # 순위 / 영화
        # 1	닥터 스트레인지
        # 2	스플릿
        # 3	럭키

movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [11]:
# 052 리스트에 원소 추가
    # 051의 movie_rank 리스트에 "배트맨"을 추가하라.

movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [19]:
# 053 movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [30]:
# 054 movie_rank 리스트에서 '럭키'를 삭제하라.
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

> 055. 다시 풀기

In [25]:
# 055 movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '배트맨']

In [27]:
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [36]:
# 056 lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

    # 실행 예: langs ['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [38]:
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

> 057. 다시 풀기

In [42]:
# 057 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

nums = [1, 2, 3, 4, 5, 6, 7]

    # 실행 예
    # max:  7
    # min:  1

In [48]:
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [58]:
# 058 다음 리스트의 합을 출력하라.
nums = [1, 2, 3, 4, 5]

    # 실행 예: 15

In [62]:
print(sum(nums))

15

In [68]:
# 059 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [70]:
# 060 다음 리스트의 평균을 출력하라.
nums = [1, 2, 3, 4, 5]

    # 실행 예: 3.0

In [72]:
print(sum(nums) / len(nums))

3.0

## * 061-070. 리스트

In [77]:
# 061 price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]

    # 출력 예시: [100, 130, 140, 150, 160, 170]

In [79]:
print(price[1:])

[100, 130, 140, 150, 160, 170]

> 062. 다시 풀기

In [91]:
# 062 슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

    # 실행 예: [1, 3, 5, 7, 9]

In [93]:
print(nums[::2])

[1, 3, 5, 7, 9]

> 063. 다시 풀기

In [96]:
# 063 슬라이싱을 사용해서 짝수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

    # 실행 예: [2, 4, 6, 8, 10]

In [98]:
print(nums[1::2])

[2, 4, 6, 8, 10]

In [102]:
# 064 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

nums = [1, 2, 3, 4, 5]

    # 실행 예: [5, 4, 3, 2, 1]

In [104]:
print(nums[::-1])

[5, 4, 3, 2, 1]

> 065. 다시 풀기

In [106]:
# 065 interest 리스트에는 아래의 데이터가 바인딩되어 있다. interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

interest = ['삼성전자', 'LG전자', 'Naver']

    # 출력 예시: 삼성전자 Naver

In [116]:
print(interest[0], interest[2])

삼성전자 Naver

In [119]:
# 066 join 메서드 : interest 리스트에는 아래의 데이터가 바인딩되어 있다. interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

    # 출력 예시: 삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [125]:
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [127]:
# 067 join 메서드 : interest 리스트에는 아래의 데이터가 바인딩되어 있다. interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

    # 출력 예시: 삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [129]:
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [131]:
# 068 join 메서드 : interest 리스트에는 아래의 데이터가 바인딩되어 있다. join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

    # 출력 예시:
    # 삼성전자
    # LG전자
    # Naver
    # SK하이닉스
    # 미래에셋대우

In [141]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

> 069. 다시 풀기

In [163]:
# 069 문자열 split 메서드 : 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다. 이를 interest 이름의 리스트로 분리 저장하라.

string = "삼성전자/LG전자/Naver"

    # 실행 예시 : print(interest)
    # ['삼성전자', 'LG전자', 'Naver']

In [169]:
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [172]:
# 070 리스트 정렬 : 리스트에 있는 값을 오름차순으로 정렬하세요.

data = [2, 4, 3, 1, 5, 10, 9]

In [174]:
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

## * 071-080. 튜플 : 순서가 있지만 수정 불가능한 자료구조

In [180]:
# 071 my_variable 이름의 비어있는 튜플을 만들라.

my_variable = ()

In [188]:
print(type(my_variable))

<class 'tuple'>

In [190]:
# 072 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

    # 순위 / 영화
    # 1	닥터 스트레인지
    # 2	스플릿
    # 3	럭키

movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

> 073. 다시 풀기

In [208]:
# 073 숫자 1 이 저장된 튜플을 생성하라.

my_tuple = (1, )
type(my_tuple)

tuple

In [210]:
my_tuple = (1)
type(my_tuple)

int

In [218]:
# 074 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.
    # 정답 : 튜플은 요소값 변경 불가.

t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [228]:
# 075 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?
    # 정답 : 튜플은 괄호 없이도 동작함.
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [240]:
# 076 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정하라.

t = ('a', 'b', 'c')

    # 정답
        # 튜플의 값은 변경할 수 없기 때문에, 리스트와 달리 아래 코드는 동작하지 않습니다.
        # t[0] = 'A'
        # 새로운 튜플을 만들고 t 라는 변수를 업데이트 해야 합니다. 기존의 튜플 ('a', 'b', 'c')은 자동으로 삭제됩니다.
        # t = ('A', 'b', 'c')

In [246]:
# 077 다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [252]:
# 078 다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [254]:
# 079 튜플 언팩킹 : 다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

> 080. 다시 풀기

In [300]:
# 080 range 함수 : 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.
    # (2, 4, 6, 8 ... 98)

data = tuple(range(2, 100, 2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

## * 081-100. 딕셔너리

In [7]:
# 081 별 표현식
    # 기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.

a, b, *c = (0, 1, 2, 3, 4, 5)
a
0
b
1
c
[2, 3, 4, 5]

    # 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [11]:
*valid_score, _, _= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [13]:
# 082 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [17]:
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [21]:
# 083 다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [27]:
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [29]:
# 084 비어있는 딕셔너리
    # temp 이름의 비어있는 딕셔너리를 만들라

In [33]:
temp = { }

In [35]:
# 085 다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

    # 이름 /	희망 가격
    # 메로나	1000
    # 폴라포	1200
    # 빵빠레	1800

In [37]:
a = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(a)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [39]:
# 086. 085번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

    # 이름 / 희망 가격
    # 죠스바	1200
    # 월드콘	1500

In [51]:
a = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
a["죠스바"] = 1200
a["월드콘"] = 1500
print(a)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [61]:
# 087 다음 딕셔너리를 사용하여 메로나 가격을 출력하라.

ice = {'메로나': 1000,
     '폴로포': 1200,
     '빵빠레': 1800,
     '죠스바': 1200,
     '월드콘': 1500}

    # 실행 예 - 메로나 가격: 1000

In [63]:
print("메로나 가격: ", ice["메로나"])

메로나 가격:  1000

In [65]:
# 088 다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

In [73]:
ice["메로나"] = 1300
print(ice["메로나"])

1300

In [75]:
# 090 다음 코드에서 에러가 발생한 원인을 설명하라.

icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'

    # 정답 : 딕셔너리에 없는 키 사용

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2019822702.py, line 5)

In [83]:
# 091 딕셔너리 생성 : 아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.

    # 이름	가격	재고
    # 메로나	300	20
    # 비비빅	400	3
    # 죠스바	250	100

In [85]:
inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

> 092. 다시 풀기

In [87]:
# 092 딕셔너리 인덱싱 : inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.
    # 실행 예시: 300원

inventory = {"메로나": [300, 20],
             "비비빅": [400, 3],
             "죠스바": [250, 100]}

In [97]:
print(inventory["메로나"][0], "원")

300 원

In [101]:
# 093 딕셔너리 인덱싱 : inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.

inventory = {"메로나": [300, 20],
            "비비빅": [400, 3],
             "죠스바": [250, 100]}
    # 실행 예시: 20개

In [137]:
print(inventory["메로나"][1], "개")

20 개

In [147]:
# 094 딕셔너리 추가 : inventory 딕셔너리에 아래 데이터를 추가하라.

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

# 이름	  가격	재고
# 월드콘   500	 7

In [149]:
inventory = {"메로나": [300, 20], 
             "비비빅": [400, 3], 
             "죠스바": [250, 100]}
inventory["월드콘"] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [151]:
# 095 딕셔너리 keys() 메서드 : 다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [157]:
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [171]:
# 096 딕셔너리 values() 메서드 : 다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [173]:
price = list(icecream.values())
print(price)

[1200, 1200, 1800, 1500, 1000]

In [175]:
# 097 딕셔너리 values() 메서드 : icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

    # 출력 예시: 6700

In [177]:
print(sum(icecream.values()))

6700

In [179]:
# 098 딕셔너리 update 메서드 : 아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

    # 실행 예시:
    # print(icecream) = {'탱크보이': 1200,  '폴라포': 1200,  '빵빠레': 1800,  '월드콘': 1500,  '메로나': 1000,  '팥빙수':2700, '아맛나':1000}

In [191]:
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

> 099. 다시 풀기 : zip

In [193]:
# 099 zip과 dict : 아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

    # 실행 예시: print(result) = {'apple': 300, 'pear': 250, 'peach': 400}

In [203]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [206]:
# 100 zip과 dict : date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

    # 실행 예시: print(close_table) = {'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

In [210]:
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

## * 101-130. 파이썬 분기문

In [220]:
# 101 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

    # 정답 : bool

In [222]:
# 102 아래 코드의 출력 결과를 예상하라

print(3 == 5)

False

In [224]:
# 103 아래 코드의 출력 결과를 예상하라

print(3 < 5)

True

In [227]:
# 104 아래 코드의 결과를 예상하라.

x = 4
print(1 < x < 5)

True

In [231]:
# 105 아래 코드의 결과를 예상하라.

print ((3 == 3) and (4 != 3))

True

In [233]:
# 106 아래 코드에서 에러가 발생하는 원인에 대해 설명하라.

print(3 => 4) # 연산자 사용 순서 변경 필요

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3157733603.py, line 3)

In [239]:
print(3 >= 4)

False

In [247]:
# 107 아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World")

    # 정답 : 조건이 불일치 하므로 아무 결과도 출력되지 않는다. 조건 불일치 시 츨략 결과를 지정했다면 그 결과로 나올 것이다.

In [249]:
# 108 아래 코드의 출력 결과를 예상하라

if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

> 109, 110 다시 풀기

In [263]:
# 109 아래 코드의 출력 결과를 예상하라

if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [265]:
# 110 아래 코드의 출력 결과를 예상하라

if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

> 111. 다시 풀기

In [271]:
# 111 사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.

    # 안녕하세요
    # 안녕하세요안녕하세요

In [277]:
user = input("입력:")
print(user * 2)

입력: 안녕

안녕안녕

In [280]:
# 112 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.

    # 숫자를 입력하세요: 30
    # 40

In [286]:
user = input("숫자를 입력하세요: ")
print(10 + int(user))

숫자를 입력하세요:  33

43

In [288]:
user = int(input("숫자를 입력하세요: "))
print(10 + user)

숫자를 입력하세요:  33

43

In [290]:
user = input(int("숫자를 입력하세요: "))
print(10 + user)

ValueError: invalid literal for int() with base 10: '숫자를 입력하세요: '

> 113. 다시 풀기

In [292]:
# 113 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

user = int(input(""))
if user % 2 == 0:
    print("짝수")
else:
    print("홀수")

 33

홀수

In [295]:
# 114 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

    # 입력값: 200 / 출력값: 220
    # 입력값: 240 / 출력값: 255

In [297]:
user = int(input("입력값: "))
num = user + 20
if num > 255:
    print(255)
else:
    print(num)

입력값:  33

53

In [299]:
# 115 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 단 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.

    # 입력값: 200 / 출력값: 180
    # 입력값: 15 / 출력값: 0

In [301]:
user = int(input("입력값: "))
num = user - 20

if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print(num)

입력값:  33

13

> 116. 다시 보기

In [305]:
# 116 사용자로부터 입력 받은 시간이 정각인지 판별하라.

    # 현재시간:02:00 / 정각 입니다.
    # 현재시간:03:10 / 정각이 아닙니다

In [309]:
time = input("현재시간: ")

if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간:  16:30

정각이 아닙니다.

In [312]:
# 117 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = ["사과", "포도", "홍시"]

    # 좋아하는 과일은? 사과
    # 정답입니다.

In [314]:
user = input("좋아하는 과일은?")

if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? 수박

오답입니다.

> 118. 대소문자도 구분함.

In [316]:
# 118 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

In [318]:
user = input("종목명: ")
if user in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

종목명:  google

투자 경고 종목이 아닙니다.

In [321]:
# 119 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

    # 제가좋아하는계절은: 봄
    # 정답입니다.

In [325]:
user = input("제가좋아하는계절은: ")

if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는계절은:  가을

정답입니다.

> 120. 다시 풀기

In [327]:
# 120 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

    # 좋아하는과일은? 한라봉
    # 오답입니다.

In [330]:
user = input("좋아하는 과일은?")

if user in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? 딸기

정답입니다.

In [332]:
# 121 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.
    # 힌트-1 : islower() 함수는 문자의 소문자 여부를 판별합니다. 만약 소문자일 경우 True, 대문자일 경우 False를 반환합니다.
    # 힌트-2 : upper() 함수는 대문자로, lower() 함수는 소문자로 변경합니다.

In [340]:
user = input("")

if user.islower():
    print(user.upper())
else:
    print(user.lower())

 C

c

In [344]:
# 122 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.

    # 점수	학점
    # 81~100  A
    # 61~80	  B
    # 41~60	C
    # 21~40	D
    # 0~20	E

    # score: 83
    # grade is A

In [346]:
score = int(input("score: "))

if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

score:  117

grade is E

> 123. 다시 풀기

In [348]:
# 123 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

    # 통화명	환율
    # 달러	1167
    # 엔	1.096
    # 유로	1268
    # 위안	171

    # 입력: 100 달러
    # 116700.00 원

환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}

user = input("입력: ")
num, currency = user.split()

print(float(num) * 환율[currency], "원")

> 124. 다시 풀기 : 한 번의 input에 번호 3개를 넣고 구분 기호로 구분하는 법은 없을까?

In [ ]:
# 124 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

    # input number1: 10
    # input number2: 9
    # input number3: 20
    # 20

In [365]:
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1:  3
input number2:  4
input number3:  5

5

> 125. 다시 풀기

In [368]:
# 125 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

    # 번호	통신사
    # 011	SKT
    # 016	KT
    # 019	LGU
    # 010	알수없음

    # 휴대전화 번호 입력: 011-345-1922
    # 당신은 SKT 사용자입니다.

In [370]:
number = input("휴대전화 번호 입력: ")

num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
    
print(f"당신은 {com} 사용자입니다.")

휴대전화 번호 입력:

당신은 알수없음 사용자입니다.

In [373]:
# 126 우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.

    # -	0	1	2	3	4	5	6	7	8	9
    # 01	강북구	강북구	강북구	도봉구	도봉구	도봉구	노원구	노원구	노원구	노원구

    # 사용자로 부터 5자리 우편번호를 입력받고 구를 판별하라

    # 우편번호: 01400
    # 도봉구

In [377]:
우편번호 = input("우편번호: ")

우편번호 = 우편번호[:3]

if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호:  016

도봉구

In [379]:
# 127 주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

    # 주민등록번호: 821010-1635210
    # 남자

In [381]:
주민번호 = input("주민등록번호: ")

주민번호 = 주민번호.split("-")[1]

if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

주민등록번호:  970808-1123784

남자

> 128. 다시 풀기

In [383]:
# 128 주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라

    # 지역코드	출생지
    # 00 ~ 08	서울
    # 09 ~ 12	부산

    # 주민등록번호: 821010-1635210
    # 서울이 아닙니다.

    # 주민등록번호: 861010-1015210
    # 서울 입니다.

In [385]:
주민번호 = input("주민등록번호: ")

출생지 = 주민번호.split("-")[1]

if 0 <= int(출생지[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호:  990000-2312334

서울이 아닙니다.

> 129. 다시 풀기

In [390]:
# 129 주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다. 먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다. 연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.

    #   8 2 1 0 1 0 - 1 6 3 5 2 1 0
    # x 2 3 4 5 6 7   8 9 2 3 4 5 
    # -----------------------------
    # 1차 계산: (8*2 + 2*3 + 1*4 + 0*5 + 1*6 + 0*7 + 1*8 + 6*9 + 3*2 + 5*3 + 2*4 + 1*5) = (128 % 11) = 7
    # 2차 계산: 11 -7 = 4

# 위와 같이 821010-1635210에 대해서 계산을 해보면 마지막 자리는 4가 되어야 함을 알 수 있다. 즉, 821010-1635210은 유효하지 않은 주민등록번호임을 알 수 있다.
# 다음과 같이 사용자로부터 주민등록번호를 입력받은 후 주민등록번호가 유효한지를 출력하는 프로그램을 작성하라.

    # 주민등록번호: 821010-1635210
    # 유효하지 않은 주민등록번호입니다.

num = int(input("주민등록번호: "))

계산1 = num[0] * 2 + num[1] * 3 + num[2] * 4 + num[3] * 5 + num[4] * 6 + \
        num[5] * 7 + num[7] * 8 + num[8] * 9 + num[9] * 2 + num[10]* 3 + \
        num[11]* 4 + num[12] * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

In [405]:
# 130 아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.

    # import requests
    # btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
    # btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다. 최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하라.

    # Key Name	Description
    # opening_price	최근 24시간 내 시작 거래금액
    # closing_price	최근 24시간 내 마지막 거래금액
    # min_price	최근 24시간 내 최저 거래금액
    # max_price	최근 24시간 내 최고 거래금액

In [411]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

## * 131-200 : 반복문 - for
    - 들여쓰기된 코드가 자료구조의 데이터 개수만큼 반복된다는 사실이 중요
    - 변하는 값은 for문의 자료구조 자리에, 변하지 않는 코드는 들여쓰기 후에 작성

In [416]:
# 131 for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [418]:
# 132 for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [422]:
# 133 다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

for 변수 in ["A", "B", "C"]:
  print(변수)

    # 파이썬 인터프리터가 어떤 순서로 코드를 실행하는지를 떠올려 보세요. "변수 바인딩(라인 1) -> 변수 출력 (라인 2)" 과정을 자료구조 데이터 개수 만큼 반복합니다.

A
B
C

In [428]:
변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

A
B
C

In [432]:
# 간단해서 변수의 바인딩없이 다음과 같이 코드를 작성해도 됩니다. 모두 동일한 결과를 출력합니다.
print("A")
print("B")
print("C")

A
B
C

In [434]:
# 134 for문을 풀어서 동일한 동작을하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

출력: A
출력: B
출력: C

In [436]:
변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C
출력: A
출력: B
출력: C

In [438]:
# 135 for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

In [446]:
    # 라인1의 for문이 실행되면 변수에 첫 번재 데이터를 바인딩.
    # 그리고 들여쓰기된 라인 2의 코드를 실행.
    # 라인 1로 이동해서 변수에 두 번재 데이터를 바인딩.
    # 그리고 들여쓰기된 코드를 실행.
    # 변수 "C"를 바인딩하고 출력.

변수 = "A"
b = 변수.lower()
print("변환:", b)

변수 = "B"
b = 변수.lower()
print("변환:", b)

변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [448]:
# 136 다음 코드를 for문으로 작성하라.

변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

10
20
30

In [451]:
for 변수 in [10, 20, 30]:
  print(변수)

10
20
30

In [453]:
    # 리스트 변수에 데이터를 바인딩하고, 변수를 for문의 자료구조 자리에 넣어줘도 됨.

리스트 = [10, 20, 30]
for 변수 in 리스트:
  print(변수)

10
20
30

In [455]:
# 137 다음 코드를 for문으로 작성하라.

print(10)
print(20)
print(30)

10
20
30

In [457]:
for 변수 in [10, 20, 30]:
  print(변수)

10
20
30

In [459]:
# 138 다음 코드를 for문으로 작성하라.

print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

10
-------
20
-------
30
-------

In [465]:
    # 변하는 부분은 for문과 함께 리스트 처리.
    # 불변 코드는 들여쓰기와 함께 기재.

for 변수 in [10, 20, 30]:
  print(변수)
  print("-------")

10
-------
20
-------
30
-------

In [467]:
# 139 다음 코드를 for문으로 작성하라.

print("++++")
print(10)
print(20)
print(30)

++++
10
20
30

> 139. 다시 보기

In [469]:
    # `print("++++")` 코드 함정.
    # for문은 반복되는 코드에만 사용.

print("++++")

for 변수 in [10, 20, 30]:
  print(변수)

++++
10
20
30

In [478]:
# 140 다음 코드를 for문으로 작성하라.

print("-------")
print("-------")
print("-------")
print("-------")

-------
-------
-------
-------

In [480]:
    # \for문은 들여쓰기된 코드가 자료구조의 데이터 개수만큼 반복된다
    # 자료구조자리에 데이터가 4개저장된 리스트가 들어가면 들여쓰기된 코드가 4번 실행됨

for 변수 in ["가", "나", "다", "라"]:
  print("-------")

-------
-------
-------
-------

In [482]:
for 변수 in [1, 2, 3, 4]:
  print("-------")

-------
-------
-------
-------

In [497]:
# 141 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

    # 리스트 = [100, 200, 300]
    # 110
    # 210
    # 310

리스트 = [100, 200, 300]
for 변수 in 리스트:
  print(변수 + 10)

110
210
310

In [501]:
# 142 for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

    # 리스트 = ["김밥", "라면", "튀김"]
    # 오늘의 메뉴: 김밥
    # 오늘의 메뉴: 라면
    # 오늘의 메뉴: 튀김

In [505]:
리스트 = ["김밥", "라면", "튀김"]

for 메뉴 in 리스트:
  print("오늘의 메뉴: " + 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [509]:
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
  print("오늘의 메뉴:", 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [523]:
# 143 리스트에 주식 종목이름이 저장돼 있다.
    # 저장된 문자열의 길이를 다음과 같이 출력하라.
        # 6
        # 4
        # 4

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for 종목명 in 리스트:
  print(len(종목명))

6
4
4

In [525]:
# 144 리스트에는 동물이름이 문자열로 저장돼 있다.
    # 동물 이름과 글자수를 다음과 같이 출력하라.
        # dog 3
        # cat 3
        # parrot 6

리스트 = ['dog', 'cat', 'parrot']

for 이름 in 리스트:
  print(이름, len(이름))

dog 3
cat 3
parrot 6

In [527]:
# 145 리스트에 동물 이름 저장돼 있다. for문을 사용해서 동물 이름의 첫 글자만 출력하라.

리스트 = ['dog', 'cat', 'parrot']

for 이름 in 리스트:
  print(이름[0])

d
c
p

> 146. 다시 보기

In [529]:
# 146 리스트에는 세 개의 숫자가 바인딩돼 있다.
리스트 = [1, 2, 3]

    # for문을 사용해서 다음과 같이 출력하라.
        # 3 x 1
        # 3 x 2
        # 3 x 3

In [533]:
    # "3 x " 문자열과 숫자를 이어붙여 출력.
    # 다만 변수에 바인딩된 값이 숫자이기 때문에 문자로 변환 후에 문자열 연산 사용 가능.

리스트 = [1, 2, 3]

for 변수 in 리스트:
  print("3 x " + str(변수))

3 x 1
3 x 2
3 x 3

In [537]:
for 변수 in 리스트:
  print("3 x", 변수)

3 x 1
3 x 2
3 x 3

In [540]:
# 147 리스트에는 세 개의 숫자가 바인딩돼 있다.
리스트 = [1, 2, 3]

    # for문을 사용해서 다음과 같이 출력하라.
        # 3 x 1 = 3
        # 3 x 2 = 6
        # 3 x 3 = 9

In [542]:
for 변수 in 리스트:
  print("3 x ", 변수, "=", 3 * 변수)

3 x  1 = 3
3 x  2 = 6
3 x  3 = 9

In [544]:
for 변수 in 리스트:
  print("3 x {} = {}".format(변수, 3 * 변수))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [552]:
# 148 리스트에는 네 개의 문자열이 바인딩돼 있다.
리스트 = ["가", "나", "다", "라"]

    # for문을 사용해서 다음과 같이 출력하라.
        # 나
        # 다
        # 라

for 변수 in 리스트[1:]:
  print(변수)

나
다
라

> 149. 다시 보기

In [554]:
# 149 리스트에는 네 개의 문자열이 바인딩돼 있다.
리스트 = ["가", "나", "다", "라"]

    # for문을 사용해서 다음과 같이 출력하라.
        # 가
        # 다

In [568]:
    # 리스트 슬라이싱에서 `[시작:끝:증감폭] ` 세번째 값은 값을 가져오는 단위를 의미했습니다. 증감폭을 2로 설정해서 "가"와 "다" 값만 슬라이싱합니다.

for 변수 in 리스트[: :2]:
  print(변수)

가
다

> 150. 다시 보기

In [579]:
# 150 리스트에는 네 개의 문자열이 바인딩돼 있다.
리스트 = ["가", "나", "다", "라"]
    
    # for문을 사용해서 다음과 같이 출력하라.
        # 라
        # 다
        # 나
        # 가

for 변수 in 리스트[: :-1]:
  print(변수)

라
다
나
가

In [588]:
# 151 리스트에는 네 개의 정수가 저장돼 있다.
리스트 = [3, -20, -3, 44]
    
    # for문을 사용해서 리스트의 음수를 출력하라.
        # -20
        # -3

for 변수 in 리스트:
  if 변수 < 0:
    print(변수)

-20
-3

> 152. 다시 보기

In [590]:
# 152 for문을 사용해서 3의 배수만을 출력하라.

리스트 = [3, 100, 23, 44]

for 변수 in 리스트:
  if 변수 % 3 == 0:
    print(변수)

    # 3의 배수는 3으로 나눈 나머지가 0이면 3의 배수입니다.
    # 변수 % 3`은 변수를 3으로 나눈 나머지를 의미

3

> 153. 다시 보기

In [597]:
# 153 리스트에서 20 보다 작은 3의 배수를 출력하라 : 12, 18

리스트 = [13, 21, 12, 14, 30, 18]

for 변수 in 리스트:
  if (변수 < 20) and (변수 % 3 == 0):
    print(변수)

12
18

In [602]:
# 154 리스트에서 세 글자 이상의 문자를 화면에 출력하라

리스트 = ["I", "study", "python", "language", "!"]

for 변수 in 리스트:
  if len(변수) >= 3:
    print(변수)

study
python
language

In [610]:
# 155 리스트에서 대문자만 화면에 출력하라.
    # (참고) isupper() 메서드는 대문자 여부를 판별합니다.

리스트 = ["A", "b", "c", "D"]

for 변수 in 리스트:
  if 변수.isupper():
    print(변수)

A
D

In [616]:
# 156 리스트에서 소문자만 화면에 출력하라.

리스트 = ["A", "b", "c", "D"]

for 변수 in 리스트:
  if 변수.isupper() == False:
    print(변수)

b
c

In [620]:
for 변수 in 리스트:
  if 변수.isupper() != True:
    print(변수)

b
c

In [626]:
for 변수 in 리스트:
  if not 변수.isupper():
    print(변수)

b
c

> 157. 다시 보기

In [632]:
# 157 이름의 첫 글자를 대문자로 변경해서 출력하라.
    # (참고) upper() 메서드는 문자열을 대문자로 변경합니다.

리스트 = ['dog', 'cat', 'parrot']

for 변수 in 리스트:
  print(변수[0].upper() + 변수[1:])

Dog
Cat
Parrot

In [639]:
# 158 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for 변수 in 리스트:
  split = 변수.split(".")
  print(split[0])

hello
ex01
intro

In [643]:
# 159 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for 변수 in 리스트:
  split = 변수.split(".")
  if split[1] == "h":
    print(변수)

intra.h
define.h

In [653]:
# 160 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for 변수 in 리스트:
  split = 변수.split(".")
  if (split[1] == "h") or (split[1] == "c"):
    print(변수)

intra.h
intra.c
define.h