# **[초보자를 위한 파이썬 300제]**

## * 001-010. Print - 기초

In [21]:
# 001. 화면에 Hello World 문자열을 출력하세요.
print("Hello World")

Hello World

In [37]:
# 002. 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)
print("Mary's cosmetics")

Mary's cosmetics

In [39]:
# 003. 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [47]:
# 004. 화면에 C:\Windows를 출력하세요.
print("C:\\Windows")

C:\Windows

In [49]:
# 005. print 탭과 줄바꿈 : 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

*[Answer]*
- \n : Enter 줄바꿈
- \t : Tab

In [2]:
# 006. print 여러 데이터 출력 : print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
print ("오늘은", "일요일")

오늘은 일요일

In [109]:
# 007. print() 함수를 사용하여 다음과 같이 출력하세요.
    # print(naver;kakao;sk;samsung)

print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung

In [113]:
# 008. print() 함수를 사용하여 다음과 같이 출력하세요. : naver/kakao/sk/samsung
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [133]:
# 009. print 줄바꿈
    # 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.
    # print("first");print("second")

print("first", end="");print("second")

firstsecond

In [11]:
# 010. 연산 결과 출력
    # 5/3의 결과를 화면에 출력하세요.
print(5/3)

1.6666666666666667

## * 011-020. 변수

In [21]:
# 011.변수 사용하기
    # 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요
삼성전자 = 50000
총평가금액 = 10 * 삼성전자
print(총평가금액)

500000

In [27]:
# 012. 변수 사용하기
    # 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

시가총액 = 2980000000000
현재가 = 50000
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

2980000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [31]:
# 013. 문자열 출력
    # 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.
    # 두 변수를 이용하여 아래와 같이 출력해보세요.
    # 실행 예: hello! python

s = "hello"
t = "python"

print(s+"!", t)

hello! python

In [33]:
# 014. 파이썬을 이용한 값 계산
    # 아래 코드의 실행 결과를 예상해보세요.
        # 2 + 2 * 3 

2 + 2 * 3

8

In [41]:
# 015. type 함수
    # type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.
        # a = 128
        # print (type(a))
        # <class 'int'>

    # 아래 변수에 바인딩된 값의 타입을 판별해보세요.
        # a = "132"

a = "132"
print (type(a))

<class 'str'>

In [43]:
# 016. 문자열을 정수로 변환
    # 문자열 '720'를 정수형으로 변환해보세요.
        #num_str = "720"

num_str = "720"  #형변환
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [45]:
# 017. 정수를 문자열 100으로 변환
    # 정수 100을 문자열 '100'으로 변환해보세요.

num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [49]:
# 018. 문자열을 실수로 변환
    # 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [53]:
# 019. 문자열을 정수로 변환
    # year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [57]:
# 020. 파이썬 계산
    # 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

금액 = 48584
총금액 = 금액 * 36
print(총금액)

1749024

## * 021-030. 문자열 : 인덱싱, 슬라이싱. replace, split

In [64]:
# 021. 문자열 인덱싱
    # letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

letters = 'python'
print(letters[0], letters[2])

p t

In [68]:
# 022. 문자열 슬라이싱
    # 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

license_plate = "24가 2210"
print(license_plate[-4:])

2210

> 023. 다시 풀기

In [278]:
# 023. 문자열 인덱싱
    # 아래의 문자열에서 '홀' 만 출력하세요.
    # 슬라이싱할 때 `시작인덱스:끝인덱스:오프셋`을 지정할 수 있습니다.

string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

> 024. 다시 풀기

In [86]:
# 024. 문자열 슬라이싱
    # 문자열을 거꾸로 뒤집어 출력하세요.

string = "PYTHON"
print(string[::-1])

NOHTYP

In [90]:
# 025. 문자열 치환
    # 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
    # 실행 예 : 010 1111 2222


phone_number = "010-1111-2222"
print(phone_number.replace("-" , " "))

010 1111 2222

In [93]:
# 026. 문자열 다루기
    # 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
    # 실행 예 : 01011112222

print(phone_number.replace("-" , ""))

01011112222

In [117]:
# 027. 문자열 다루기
    # url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
    # 실행 예: kr

url = "http://sharebook.kr"

print(url[-2:])

url_split = (url.split('.'))
print(url_split[-1])
print(url_split[1])

kr
kr
kr

In [141]:
# 028. 문자열은 immutable
    # 아래 코드의 실행 결과를 예상해보세요.

lang = 'python'
lang[0] = 'P'
print(lang)

    # 문자열은 수정할 수 없습니다. 실행 결과를 확인해보면 문자열이 할당(assignment) 메서드를 지원하지 않음을 알 수 있습니다.

TypeError: 'str' object does not support item assignment

In [143]:
# 029. replace 메서드
    # 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
    # 실행 예: Abcdfe2A354A32A

string = 'abcdfe2a354a32a'
print(string.replace('a','A'))

Abcdfe2A354A32A

In [149]:
# 030. replace 메서드
    # 아래 코드의 실행 결과를 예상해보세요.

string = 'abcd'
string.replace('b', 'B')
print(string)

    # `abcd`가 그대로 출력됩니다. 왜냐하면 문자열은 변경할 수 없는 자료형이기 때문입니다. replace 메서드를 사용하면 원본은 그대로 둔채로 변경된 새로운 문자열 객체를 리턴해줍니다.

abcd

## * 031-040. 문자열 : 합치기, 곱하기, 공백제거(strip)

In [161]:
# 031. 문자열 합치기
    # 아래 코드의 실행 결과를 예상해보세요.

a = "3"
b = "4"
print(a + b)

    # 두 문자열에 대해 덧셈 기호는 문자열의 연결을 의미

34

In [167]:
# 032. 문자열 곱하기
    # 아래 코드의 실행 결과를 예상해보세요.

print("Hi" * 3)

    # 문자열에 대한 곱셈은 문자열의 반복을 의미

HiHiHi

In [169]:
# 033. 문자열 곱하기
    # 화면에 '-'를 80개 출력하세요.
    # 실행 예: --------------------------------------------------------------------------------

print('-' * 80)

--------------------------------------------------------------------------------

In [181]:
# 034. 문자열 곱하기
    # 변수에 다음과 같은 문자열이 바인딩되어 있습니다.
    # 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
    # 실행 예: python java python java python java python java

t1 = 'python'
t2 = 'java'

t3 = t1 + " " + t2 + " "
print(t3 * 4)

python java python java python java python java

In [189]:
# 035. 문자열 출력
    # 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
    # print 포맷팅에서 `%s`는 문자열 데이터 타입의 값을 `%d`는 정수형 데이터 타입 값의 출력을 의미
        # 이름: 김민수 나이: 10
        # 이름: 이철희 나이: 13

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [195]:
# 036. 문자열 출력
    # 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

    # 문자열의 포맷 메서드는 타입과 상관없이 값이 출력될 위치에 `{ }`를 적어주면 됩니다.

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [201]:
# 037. 문자열 출력
    # 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

    # f-string은 문자열 앞에 f가 붙은 형태입니다. f-string을 사용하면 `{변수}`와 같은 형태로 문자열 사이에 타입과 상관없이 값을 출력할 수 있습니다.

이름: 김민수 나이: 10
이름: 이철희 나이: 13

> 038. 다시 풀기

In [286]:
# 038. 컴마 제거하기
    # 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"
상장주식수2 = 상장주식수.replace("," , "")
상장주식수3 = int(상장주식수2)
print(상장주식수3, type(상장주식수3))

5969782550 <class 'int'>

In [220]:
# 039. 문자열 슬라이싱
    # 다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [222]:
# 040. strip 메서드
    # 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "
print(data.strip())

삼성전자

## * 041-050. 문자열 : upper(대문자로 변경), lower(소문자로 변경), capitalize(앞 대문자 변경), endswith, startswith

In [227]:
# 041. upper 메서드
    # 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [229]:
# 042. lower 메서드
    # 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

In [231]:
# 043. capitalize 메서드
    # 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

a = "hello"
print(a.capitalize())

Hello

In [239]:
# 044. endswith 메서드
    # 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

> 045. 다시 풀기

In [255]:
# 045. endswith 메서드
    # 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [258]:
# 046. startswith 메서드
    # 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [268]:
# 047. split 메서드
    # 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"
a.split()

['hello', 'world']

In [270]:
# 048. split 메서드
    # 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [272]:
# 049. split 메서드
    # 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [274]:
# 050. rstrip 메서드
    # 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "039490     "
data.rstrip()

'039490'

## * 051-060. 리스트 : append, insert, del, max/min, len, sum

In [9]:
# 051 리스트 생성
    # 2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)
        # 순위 / 영화
        # 1	닥터 스트레인지
        # 2	스플릿
        # 3	럭키

movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [11]:
# 052 리스트에 원소 추가
    # 051의 movie_rank 리스트에 "배트맨"을 추가하라.

movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [19]:
# 053 movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [30]:
# 054 movie_rank 리스트에서 '럭키'를 삭제하라.
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

> 055. 다시 풀기

In [25]:
# 055 movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '배트맨']

In [27]:
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [36]:
# 056 lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

    # 실행 예: langs ['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [38]:
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

> 057. 다시 풀기

In [42]:
# 057 다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)

nums = [1, 2, 3, 4, 5, 6, 7]

    # 실행 예
    # max:  7
    # min:  1

In [48]:
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [58]:
# 058 다음 리스트의 합을 출력하라.
nums = [1, 2, 3, 4, 5]

    # 실행 예: 15

In [62]:
print(sum(nums))

15

In [68]:
# 059 다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [70]:
# 060 다음 리스트의 평균을 출력하라.
nums = [1, 2, 3, 4, 5]

    # 실행 예: 3.0

In [72]:
print(sum(nums) / len(nums))

3.0

## * 061-070. 리스트

In [77]:
# 061 price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)

price = ['20180728', 100, 130, 140, 150, 160, 170]

    # 출력 예시: [100, 130, 140, 150, 160, 170]

In [79]:
print(price[1:])

[100, 130, 140, 150, 160, 170]

> 062. 다시 풀기

In [91]:
# 062 슬라이싱을 사용해서 홀수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

    # 실행 예: [1, 3, 5, 7, 9]

In [93]:
print(nums[::2])

[1, 3, 5, 7, 9]

> 063. 다시 풀기

In [96]:
# 063 슬라이싱을 사용해서 짝수만 출력하라.

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

    # 실행 예: [2, 4, 6, 8, 10]

In [98]:
print(nums[1::2])

[2, 4, 6, 8, 10]

In [102]:
# 064 슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.

nums = [1, 2, 3, 4, 5]

    # 실행 예: [5, 4, 3, 2, 1]

In [104]:
print(nums[::-1])

[5, 4, 3, 2, 1]

> 065. 다시 풀기

In [106]:
# 065 interest 리스트에는 아래의 데이터가 바인딩되어 있다. interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

interest = ['삼성전자', 'LG전자', 'Naver']

    # 출력 예시: 삼성전자 Naver

In [116]:
print(interest[0], interest[2])

삼성전자 Naver

In [119]:
# 066 join 메서드 : interest 리스트에는 아래의 데이터가 바인딩되어 있다. interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

    # 출력 예시: 삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [125]:
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [127]:
# 067 join 메서드 : interest 리스트에는 아래의 데이터가 바인딩되어 있다. interest 리스트를 사용하여 아래와 같이 화면에 출력하라.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

    # 출력 예시: 삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [129]:
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [131]:
# 068 join 메서드 : interest 리스트에는 아래의 데이터가 바인딩되어 있다. join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

    # 출력 예시:
    # 삼성전자
    # LG전자
    # Naver
    # SK하이닉스
    # 미래에셋대우

In [141]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

> 069. 다시 풀기

In [163]:
# 069 문자열 split 메서드 : 회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다. 이를 interest 이름의 리스트로 분리 저장하라.

string = "삼성전자/LG전자/Naver"

    # 실행 예시 : print(interest)
    # ['삼성전자', 'LG전자', 'Naver']

In [169]:
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [172]:
# 070 리스트 정렬 : 리스트에 있는 값을 오름차순으로 정렬하세요.

data = [2, 4, 3, 1, 5, 10, 9]

In [174]:
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

## * 071-080. 튜플 : 순서가 있지만 수정 불가능한 자료구조

In [180]:
# 071 my_variable 이름의 비어있는 튜플을 만들라.

my_variable = ()

In [188]:
print(type(my_variable))

<class 'tuple'>

In [190]:
# 072 2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

    # 순위 / 영화
    # 1	닥터 스트레인지
    # 2	스플릿
    # 3	럭키

movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

> 073. 다시 풀기

In [208]:
# 073 숫자 1 이 저장된 튜플을 생성하라.

my_tuple = (1, )
type(my_tuple)

tuple

In [210]:
my_tuple = (1)
type(my_tuple)

int

In [218]:
# 074 다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.
    # 정답 : 튜플은 요소값 변경 불가.

t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [228]:
# 075 아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?
    # 정답 : 튜플은 괄호 없이도 동작함.
t = 1, 2, 3, 4
print(type(t))

<class 'tuple'>

In [240]:
# 076 변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정하라.

t = ('a', 'b', 'c')

    # 정답
        # 튜플의 값은 변경할 수 없기 때문에, 리스트와 달리 아래 코드는 동작하지 않습니다.
        # t[0] = 'A'
        # 새로운 튜플을 만들고 t 라는 변수를 업데이트 해야 합니다. 기존의 튜플 ('a', 'b', 'c')은 자동으로 삭제됩니다.
        # t = ('A', 'b', 'c')

In [246]:
# 077 다음 튜플을 리스트로 변환하라.

interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [252]:
# 078 다음 리스트를 튜플로 변경하라.

interest = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [254]:
# 079 튜플 언팩킹 : 다음 코드의 실행 결과를 예상하라.

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

> 080. 다시 풀기

In [300]:
# 080 range 함수 : 1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.
    # (2, 4, 6, 8 ... 98)

data = tuple(range(2, 100, 2))
print(data)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)